@import url(reset.css);

@font-face {
    font-family: '2 Roya';
    src:
        /* Pretty Modern Browsers */
        url('../fonts/SROYA.TTF') format('truetype'),
}

body {
    direction: rtl;
    font-family: "2 Roya", "2 Kamran", sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.title {
    padding: 10px 15px;
    background-color: #F6416C;
    border-radius: 20px;
}

.title h1 {
    color: white;
}

table {
    width: 100%;
    table-layout: fixed;
}

.thead {
    width: 98.8%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 590px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 19px;
    color: #fff;
    text-shadow: black 0px 0px 40px;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-shadow: black 0px 0px 40px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}